@mixin padding_margin ($pad,$marg){
  padding: $pad;
  margin: $marg;
}
@mixin text__size-weight-family-color ($size,$weight,$family,$color){   
  font-size: $size ;  
  font-weight: $weight;
  font-family:$family;
  color:$color;   
  
  vertical-align: baseline;
}
@mixin flex ($aligin,$justify,$direction,$wrap_nowrap){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: $aligin;
  -ms-flex-align: $aligin;
  align-items: $aligin;
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-wrap: $wrap_nowrap;
  flex-wrap: $wrap_nowrap;
}

body{
  @include flex(center,flex-start,column, nowrap);
  
}
*{
  // @include padding_margin(0,0) ;
  // box-sizing: border-box;
}
#main-wrap{
  width: 100%;
  @include flex(center,center,column, nowrap);
}
p{
  // @include padding_margin(0,0) ;
}
header{
  @include flex(flex-start,center,row, wrap);
  
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, rgb(32, 240, 84), rgb(9, 147, 211));
  form{
    width: 100%;
    min-width: 300px;
    height: auto;
   
    @include flex(center,center,row, wrap);
    @include padding_margin(0 , 10px) ;
    .years-select, .SortBy-select, .Genres-select, .Search{
      @include padding_margin(0 , 0 20px 0 20px) ;
    }
    .wrap-for-select{
      @include flex(center,space-between,row, wrap);
      
      // width: 80%;
      // min-width: 300px;
    }
    .Search{
      // width: 40%;
      min-width: 300px;
    }
    .search-input{
      @include padding_margin(5px 5px 5px 10px , 0) ;
      
    }
    
  }
}
main{
  
  @include flex(flex-start,center,row, wrap);
  // background-image: url("/img/demonstration2.jpg") ;
  background: lightblue;
  // background-repeat: no-repeat;
  // background-position: 100%;
  // background-attachment: scroll;
  width: 100%;
  height: auto;
}



.wrap{
  @include flex(flex-start,center,column, nowrap);
  width: 100%;
  
}
.filmBlock{
  @include flex(flex-start,flex-start,row, nowrap);
  width: 40%;
  background:white;
  overflow-y: hidden;
  text-overflow:ellipsis;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 300px;
  @include padding_margin(0 0 20px 0,1.5%) ;
  .overview{
    width: 60%;
    @include flex(flex-start,center,column, nowrap);
    @include padding_margin(20px 20px 20px 0, 0) ;
    
    .title{
      width: 100%;     
      font-weight: 600;
      font-size: 1.1em;
      line-height: 1.1em;
    }
    // .forOverview::after{
    //   content: "..";
      
    // }
    p.forOverview{
      word-wrap: break-word;
      white-space: normal;
      color: #4d4d4d;
      font-size: 0.9em;
      line-height: 1.2em;
      overflow-y: hidden;
      text-overflow:ellipsis;
      height: 155px;
    }
    .genders{
      @include flex(flex-start,flex-start,row, wrap);
      p{
        line-height: 0.5em;
        font-size: 14px;
        
        &::after{
          content:"/";
        }
      }
    }
  }
  .poster{
    
    widows: 50%;
    max-width: 200px;
    height: 300px;
    @include padding_margin(0, 0 20px 0 0  ) ;
  }
}

.navigation{
  @include padding_margin(0,0 auto  ) ;
  @include flex(center,center,column, wrap);
  background: lightblue;
  width: 100%;
}


@media screen and (max-width:1000px){
  main{
    @include flex(flex-start,center,column, wrap);
  }
}